/* IMPORTANT BIT FOR RESPONSIVENESS:
  IN THE CONTEINER:
    display: flex;
    flex-direction: column;

  IN THE CONTENT:
    width: 100%;
*/

/* Universal Style */
body {
  background-color: white;
  font-size: 20px;
  font-family: 'Comic Sans', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
  margin: 2%;
}

.name {
  font-size: 400%;
  margin: -5px 0;
}

h2 {
  font-size: 30px;
}


/* Nav Section */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid green;
}

.link-container {
  display: inline-flex;
  align-items: center;
}

.navigation li {
  display: inline-flex;
}

.navigation li a {
  color: black;
  text-decoration: none;
  margin-inline: 10px;
}

/* About Me Section */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: justify;
  }

.photo {
  width: 30%;
  height: 30%;
  display: block;
  margin: auto;
  border-radius: 20%;
}


/* Projects Section */

img {
    width: 40%;
}

.Projects {
  display: inline-flex;
}


/* Skills Section */
#icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.fa-solid, .fa-brands {
  font-size: 200%;
}


/* Contact Section */



/* Footer Section */



/* Media Queries */
/* Tablet */
@media only screen and (min-width:375px) and (max-width:768px) {
  .photo {
    float: right;
    margin: auto;
    max-width: 200px;
  }

  h2 {
    text-align: left;
  }

}


/* Desktop */
@media only screen and (min-width:769px) {
  .photo {
    float: right;
    margin: auto;
    max-width: 200px;
  }

  h2 {
    text-align: left;
  }

}